.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #8B008B;
  padding: 14px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-btn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 12px;
}

.dashboard-btn:hover {
  background-color: #1e40af;
}

/* Title */
.nav-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.nav-title:hover {
  color: #e0e0e0;
}

/* Right section */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  right: 20px;
}

/* Buttons */
.login-btn,
.logout-btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: #ffffff;
  color: #2a5298;
}

.logout-btn:hover {
  background: #ff4d4f;
  border-color: #ff4d4f;
  color: #fff;
}

/* Profile icon */
.profile-icon {
  width: 36px;
  height: 36px;
  background: #ffffff;
  color: #2a5298;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.profile-icon:hover {
  transform: scale(1.1);
}

/* Nav user */
.nav-user {
  background-color: #c346c3;
  border: 1px solid beige;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
}
